<div class="card">
    <img src="{{url}}" alt="" class="card__image">
    <h2 class="card__title">{{title}}</h2>
    <p class="card__text">{{text}}</p>
    
    <ul>
        {{#each person}}
            <li>{{@index}} {{this}}</li>
        {{/each}}
    </ul>

    {{#if hasMoney}}
        <strong>HAS MONEY</strong>
    {{else}}
        <strong>HASN'T MONEY</strong>
    {{/if}}

</div>